<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}">
</head>
<body>
    <form action="profile" method="post">
        {% csrf_token %}
        <nav class="nav-bar">
            <div class="logo">
                <h1>FlyHigh!</h1>
            </div>
            <a href="/" class="home-link">
                <img src="{% static 'logo/homelogo.png' %}" alt="home">
            </a>
        </nav>

        <div class="container">
            <h2>EDIT PROFILE</h2>
            <div class="item">
                <span class="label">First Name</span>
                <input type="text" class="value" name="first_name" value="{{ data.first_name }}">
            </div>
            <div class="item">
                <span class="label">Last Name</span>
                <input type="text" class="value" name="last_name" value="{{ data.last_name }}">
            </div>
            <div class="item">
                <span class="label">Username</span>
                <input type="text" class="value" name="user_name" value="{{ data.user_name }}">
            </div>
            <div class="item">
                <span class="label">Email</span>
                <input type="email" class="value" name="email" value="{{ data.email }}">
            </div>
            <div class="item">
                <span class="label">Phone Number</span>
                <input type="number" class="value" name="password" value="{{ data.phone_no }}">
            </div>
            <div class="item">
                <span class="label">Password</span>
                <input type="password" class="value" name="password" value="{{ data.phone_no }}">
            </div>
            <button type="submit" class="submit-button">submit</button></a>

        </div>
    </form>
    <footer class="footer">
        <p>All rights reserved. Copyright (2002 - 2024) - FlyHigh©</p>
    </footer>
</body>
</html>