<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>FlyHigh.com</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" type="image/icon" href="{% static 'logo/plane logo.jpeg' %}"/>

</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <nav class="nav-bar">
            <div class="logo">
                <h1>FlyHigh!</h1>
            </div>
            <ul class="nav-links">
                <li><a href="user" class="btn signup-btn">Sign Up</a></li>
                <li><a href="Login" class="btn login-btn">Log In</a></li>
                <li><a href="about" class="btn about-btn">About</a></li>
            </ul>
        </nav>
        <p class="explore-head">TRAVEL THE WORLD WITH US</p>
        <h1 class="explore-heading">EXPLORE THE WORLD WITH FLYHIGH!</h1>

        <section class="section-container booking-container">
            <div class="booking-nav">
                <span>Economy Class</span>
                <span>Business Class</span>
                <span>First Class</span>
            </div>
            <form>
                <div class="form-group">
                    <span><i class="ri-map-pin-line"></i></span>
                    <div class="input-content">
                        <div class="input-group">
                            <input type="text">
                            <label>Location</label>
                        </div>
                        <p>Where are you going?</p>
                    </div>
                </div>
            </form>
            <form>
                <div class="form-group">
                    <span><i class="ri-user-3-line"></i></span>
                    <div class="input-content">
                        <div class="input-group">
                            <input type="number">
                            <label>Travellers</label>
                        </div>
                        <p>Add person</p>
                    </div>
                </div>
            </form>
            <form>
                <div class="form-group">
                    <span><i class="ri-calendar-line"></i></span>
                    <div class="input-content">
                        <div class="input-group">
                            <input type="text">
                            <label>Departure</label>
                        </div>
                        <p>Add date</p>
                    </div>
                </div>
                <button class="btn"><i class="ri-search-line"></i></button>
            </form>
            <form>
                <div class="form-group">
                    <span><i class="ri-calendar-line"></i></span>
                    <div class="input-content">
                        <div class="input-group">
                            <input type="text">
                            <label>Return</label>
                        </div>
                        <p>Add date</p>
                    </div>
                </div>
            </form>
        </section>

        <p class="popular">TOP DESTINATIONS</p>
        <h1 class="top">POPULAR DESTINATIONS</h1>
        <section class="content">
            <div class="place">
                <img src="{% static 'images/place/dubai.jpg' %}" alt="place 1">
                <div class="place-info">
                    <h3>Dubai,UAE</h3>
                </div>
            </div>
            <div class="place">
                <img src="{% static 'images/place/paris.jpg' %}" alt="place 1">
                <div class="place-info">
                    <h3>Paris,France</h3>
                </div>
            </div>
            <div class="place">
                <img src="{% static 'images/place/maldives.jpg' %}" alt="place 1">
                <div class="place-info">
                    <h3>Maldives</h3>
                </div>
            </div>
            <div class="place">
                <img src="{% static 'images/place/rome.jpg' %}" alt="place 1">
                <div class="place-info">
                    <h3>Rome,Italy</h3>
                </div>
            </div>
        </section>
        <p class="popular">MOST POPULAR</p>
        <h1 class="top">TRAVEL COUNTRIES</h1>
        <footer class="footer">
            <div class="social-media">
                <a href="#" target="_blank"><img src="{% static 'logo/instagram.jpg' %}" alt="instagram" width="24" height="24"></a>
                <a href="#" target="_blank"><img src="{% static 'logo/facebook.png' %}" alt="facebook" width="24" height="24"></a>
                <a href="#" target="_blank"><img src="{% static 'logo/linkedin.png' %}" alt="Linkedin" width="24" height="24"></a>
            </div>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy & Policy</a></li>
            </ul>
            <p>&copy; 2024 FlyHigh©</p>
        </footer>
    </form>
</body>
</html>